<div class="inciodepagina">
  <div><%= image_tag "https://res.cloudinary.com/dhaafwmtf/image/upload/v1726689207/Fondoservices_ojcqmt.jpg", class: "d-block w-100" %>
  </div>
</div>
  <%# Inicio de galería de fotos %>
    <div class="row galeria">

      <div class="col-md-4 grid-item">
        <a href="https://hcapizaco.com/hc/wp-content/uploads/2023/05/enfermeria-hospitalizacion.jpg" data-width="980" data-height="653" data-categories="38" class="dmg_masonry_gallery_item">
         <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/enfermeria-hospitalizacion.jpg" alt="Hospitalización" style="width: 100%; height: auto;">
         <span class="dmg-img-overlay dmg-with-animation dmg-fade-in" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          <div>
            <p class="dmg-img-overlay-title" style="font-size: 24px; text-align: center;">Nursing</p>
          </div>
         </span>
        </a>
      </div>


      <div class="col-md-4 grid-item">
        <a href="https://hcapizaco.com/hc/wp-content/uploads/2023/05/torre-medica.jpg" data-width="980" data-height="653" data-categories="38" class="dmg_masonry_gallery_item">
          <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/torre-medica.jpg" alt="TorreMedica" style="width: 100%; height: auto;">
          <span class="dmg-img-overlay dmg-with-animation dmg-fade-in" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          <div>
            <p class="dmg-img-overlay-title" style="font-size: 24px; text-align: center;">Medical tower</p>
          </div>
          </span>
        </a>
      </div>

      <div class="col-md-4 grid-item">
        <a href="https://hcapizaco.com/hc/wp-content/uploads/2023/05/estudios-diagnostico-3-980x654.jpg" data-width="980" data-height="653" data-categories="38" class="dmg_masonry_gallery_item">
          <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/estudios-diagnostico-3-980x654.jpg" alt="Sala de espera" style="width: 100%; height: auto;">
          <span class="dmg-img-overlay dmg-with-animation dmg-fade-in" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          <div>
            <p class="dmg-img-overlay-title" style="font-size: 24px; text-align: center;">Tomography</p>
          </div>
          </span>
        </a>
      </div>

      <div class="col-md-4 grid-item">
        <a href="https://hcapizaco.com/hc/wp-content/uploads/2023/05/Hemodialisis.jpg" data-width="980" data-height="653" data-categories="38" class="dmg_masonry_gallery_item">
          <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/Hemodialisis.jpg" alt="Hospitalización" style="width: 100%; height: auto;">
          <span class="dmg-img-overlay dmg-with-animation dmg-fade-in" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          <div>
            <p class="dmg-img-overlay-title" style="font-size: 24px; text-align: center;">Hemodialysis</p>
          </div>
          </span>
        </a>
      </div>

      <div class="col-md-4 grid-item">
        <a href="https://hcapizaco.com/hc/wp-content/uploads/2023/05/Area-de-Hemodialisis.jpg" data-width="980" data-height="653" data-categories="38" class="dmg_masonry_gallery_item">
          <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/Area-de-Hemodialisis.jpg" alt="Hospitalización" style="width: 100%; height: auto;">
          <span class="dmg-img-overlay dmg-with-animation dmg-fade-in" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          <div>
            <p class="dmg-img-overlay-title" style="font-size: 24px; text-align: center;">Hemodialysis</p>
          </div>
          </span>
        </a>
      </div>

      <div class="col-md-4 grid-item">
        <a href="https://beneficioshca.com/hc/wp-content/uploads/2023/05/HOSPITAL-CENTRAL-ESPERA-980x735.jpg" data-width="980" data-height="653" data-categories="38" class="dmg_masonry_gallery_item">
          <img src="https://beneficioshca.com/hc/wp-content/uploads/2023/05/HOSPITAL-CENTRAL-ESPERA-980x735.jpg"" alt="Hospitalización" style="width: 100%; height: auto;">
          <span class="dmg-img-overlay dmg-with-animation dmg-fade-in" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          <div>
            <p class="dmg-img-overlay-title" style="font-size: 24px; text-align: center;">Waiting room</p>
          </div>
          </span>
        </a>
      </div>

      <div class="col-md-4 grid-item">
        <a href="https://hcapizaco.com/hc/wp-content/uploads/2023/05/hospitalizacion.jpg" data-width="980" data-height="653" data-categories="38" class="dmg_masonry_gallery_item">
          <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/hospitalizacion-980x653.jpg" alt="Hospitalización" style="width: 100%; height: auto;">
          <span class="dmg-img-overlay dmg-with-animation dmg-fade-in" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          <div>
            <p class="dmg-img-overlay-title" style="font-size: 24px; text-align: center;">Hospitalization</p>
          </div>
          </span>
        </a>
      </div>

      <div class="col-md-4 grid-item">
        <a href="https://hcapizaco.com/hc/wp-content/uploads/2023/05/habitaciones-hospitalizacion3.jpg" data-width="980" data-height="653" data-categories="38" class="dmg_masonry_gallery_item">
          <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/habitaciones-hospitalizacion3.jpg" alt="Hospitalización" style="width: 100%; height: auto;">
          <span class="dmg-img-overlay dmg-with-animation dmg-fade-in" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          <div>
            <p class="dmg-img-overlay-title" style="font-size: 24px; text-align: center;">Hospitalization</p>
          </div>
          </span>
        </a>
      </div>

      <div class="col-md-4 grid-item">
        <a href="https://hcapizaco.com/hc/wp-content/uploads/2023/05/habitaciones-hospitalizacion4.jpg" data-width="980" data-height="653" data-categories="38" class="dmg_masonry_gallery_item">
          <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/habitaciones-hospitalizacion4.jpg" alt="Hospitalización" style="width: 100%; height: auto;">
          <span class="dmg-img-overlay dmg-with-animation dmg-fade-in" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          <div>
            <p class="dmg-img-overlay-title" style="font-size: 24px; text-align: center;">Hospitalization</p>
          </div>
          </span>
        </a>
      </div>

      <div class="col-md-4 grid-item">
        <a href="https://hcapizaco.com/hc/wp-content/uploads/2023/05/urgencia-09.jpg"  data-width="980" data-height="653" data-categories="38" class="dmg_masonry_gallery_item">
          <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/urgencia-09.jpg"  alt="Hospitalización" style="width: 100%; height: auto;">
          <span class="dmg-img-overlay dmg-with-animation dmg-fade-in" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          <div>
            <p class="dmg-img-overlay-title" style="font-size: 24px; text-align: center;">Emergencies</p>
          </div>
          </span>
        </a>
      </div>

      <div class="col-md-4 grid-item">
        <a href="https://hcapizaco.com/hc/wp-content/uploads/2023/05/urgencias07.jpg" data-width="980" data-height="653" data-categories="38" class="dmg_masonry_gallery_item">
          <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/urgencias07.jpg" alt="Hospitalización" style="width: 100%; height: auto;">
          <span class="dmg-img-overlay dmg-with-animation dmg-fade-in" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          <div>
            <p class="dmg-img-overlay-title" style="font-size: 24px; text-align: center;">Emergencies</p>
          </div>
          </span>
        </a>
      </div>

      <div class="col-md-4 grid-item">
        <a href="https://hcapizaco.com/hc/wp-content/uploads/2023/05/HOSPITAL-CENTRAL-RAMPAS.jpg"data-width="980" data-height="653" data-categories="38" class="dmg_masonry_gallery_item">
          <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/HOSPITAL-CENTRAL-RAMPAS.jpg"alt="Hospitalización" style="width: 100%; height: auto;">
          <span class="dmg-img-overlay dmg-with-animation dmg-fade-in" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          <div>
            <p class="dmg-img-overlay-title" style="font-size: 24px; text-align: center;">Emergencies</p>
          </div>
          </span>
        </a>
      </div>

      <div class="col-md-4 grid-item">
        <a href="https://hcapizaco.com/hc/wp-content/uploads/2023/05/HOSPITAL-CENTRAL-RECEPCION-HEMO.jpg"  data-width="980" data-height="653" data-categories="38" class="dmg_masonry_gallery_item">
          <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/HOSPITAL-CENTRAL-RECEPCION-HEMO.jpg"  alt="Hospitalización" style="width: 100%; height: auto;">
          <span class="dmg-img-overlay dmg-with-animation dmg-fade-in" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          <div>
            <p class="dmg-img-overlay-title" style="font-size: 24px; text-align: center;">Reception</p>
          </div>
          </span>
        </a>
      </div>

      <div class="col-md-4 grid-item">
        <a href="https://hcapizaco.com/hc/wp-content/uploads/2023/05/urgencias06.jpg" data-width="980" data-height="653" data-categories="38" class="dmg_masonry_gallery_item">
          <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/urgencias06.jpg"  alt="Hospitalización" style="width: 100%; height: auto;">
          <span class="dmg-img-overlay dmg-with-animation dmg-fade-in" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          <div>
            <p class="dmg-img-overlay-title" style="font-size: 24px; text-align: center;">Reception</p>
          </div>
          </span>
        </a>
      </div>

      <div class="col-md-4 grid-item">
        <a href="https://hcapizaco.com/hc/wp-content/uploads/2023/05/laboratorio.jpg" data-width="980" data-height="653" data-categories="38" class="dmg_masonry_gallery_item">
          <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/laboratorio.jpg" alt="Hospitalización" style="width: 100%; height: auto;">
          <span class="dmg-img-overlay dmg-with-animation dmg-fade-in" style="display: flex; justify-content: center; align-items: center; height: 100%;">
          <div>
            <p class="dmg-img-overlay-title" style="font-size: 24px; text-align: center;">Laboratory</p>
          </div>
          </span>
        </a>
      </div>

  </div>
