<head>
  <title>Grid</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .grid-item {
      padding: 10px;
    }
    .grid-item img {
      width: 100%;
      height: auto;
      display: block;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="row">
    <!-- Column 1 -->
    <div class="col-md-4 grid-item">
      <img src="https://picsum.photos/id/1015/200/300" alt="Image 1">
    </div>
    <!-- Column 2 -->
    <div class="col-md-4 grid-item">
      <img src="https://picsum.photos/id/1016/200/300" alt="Image 2">
    </div>
    <!-- Column 3 -->
    <div class="col-md-4 grid-item">
      <img src="https://picsum.photos/id/1018/200/300" alt="Image 3">
    </div>
    <!-- Column 4 -->
    <div class="col-md-4 grid-item">
      <img src="https://picsum.photos/id/1019/200/300" alt="Image 4">
    </div>
    <!-- Column 5 -->
    <div class="col-md-4 grid-item">
      <img src="https://picsum.photos/id/1020/200/300" alt="Image 5">
    </div>
    <!-- Column 6 -->
    <div class="col-md-4 grid-item">
      <img src="https://picsum.photos/id/1021/200/300" alt="Image 6">
    </div>
    <!-- Column 7 -->
    <div class="col-md-4 grid-item">
      <img src="https://picsum.photos/id/1019/200/300" alt="Image 4">
    </div>
    <!-- Column 8 -->
    <div class="col-md-4 grid-item">
      <img src="https://picsum.photos/id/1020/200/300" alt="Image 5">
    </div>
    <!-- Column 9 -->
    <div class="col-md-4 grid-item">
      <img src="https://picsum.photos/id/1021/200/300" alt="Image 6">
    </div>
      <div class="col-md-4 grid-item">
      <img src="https://picsum.photos/id/1021/200/300" alt="Image 6">
    </div>
      <div class="col-md-4 grid-item">
      <img src="https://picsum.photos/id/1021/200/300" alt="Image 6">
    </div>
      <div class="col-md-4 grid-item">
      <img src="https://picsum.photos/id/1021/200/300" alt="Image 6">
    </div>

  </div>
</div>
