<head>
  <title>Grid</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .grid-item {
      padding: 7px;
    }
    .grid-item img {
      width: 100%;
      height: auto;
      display: block;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="row">
    <!-- Column 1 -->
    <div class="col-md-4 grid-item">
      <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/hospitalizacion-980x653.jpg" alt="Image 1">
    </div>
    <!-- Column 2 -->
    <div class="col-md-4 grid-item">
      <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/habitaciones-hospitalizacion4.jpg" alt="Image 2">
    </div>
    <!-- Column 3 -->
    <div class="col-md-4 grid-item">
      <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/habitaciones-hospitalizacion.jpg" alt="Image 3">
    </div>
    <!-- Column 4 -->
    <div class="col-md-4 grid-item">
      <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/torre-medica.jpg" alt="Image 4">
    </div>
    <!-- Column 5 -->
    <div class="col-md-4 grid-item">
      <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/habitaciones-hospitalizacion3.jpg" alt="Image 5">
    </div>
    <!-- Column 6 -->
    <div class="col-md-4 grid-item">
      <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/enfermeria-hospitalizacion.jpg" alt="Image 6">
    </div>
    <!-- Column 7 -->
    <div class="col-md-4 grid-item">
      <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/Area-de-Hemodialisis.jpg" alt="Image 4">
    </div>
    <!-- Column 8 -->
    <div class="col-md-4 grid-item">
      <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/HOSPITAL-CENTRAL-2DO-PISO-.jpg" alt="Image 5">
    </div>
    <!-- Column 9 -->
    <div class="col-md-4 grid-item">
      <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/urgencias07.jpg" alt="Image 6">
    </div>
    <!-- Column 10 -->
    <div class="col-md-4 grid-item">
      <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/HOSPITAL-CENTRAL-RAMPAS.jpg" alt="Image 6">
    </div>
    <!-- Column 11 -->
    <div class="col-md-4 grid-item">
      <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/urgencias07.jpg" alt="Image 6">
    </div>
    <!-- Column 12 -->
    <div class="col-md-4 grid-item">
      <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/urgencia-09.jpg" alt="Image 6">
    </div>
    <!-- Column 13 -->
    <div class="col-md-4 grid-item">
      <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/HOSPITAL-CENTRAL-RECEPCION-HEMO.jpg" alt="Image 6">
    </div>
        <!-- Column 14 -->
    <div class="col-md-4 grid-item">
      <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/urgencias06.jpg" alt="Image 6">
    </div>
        <!-- Column 15 -->
    <div class="col-md-4 grid-item">
      <img src="https://hcapizaco.com/hc/wp-content/uploads/2023/05/laboratorio.jpg" alt="Image 6">
    </div>


  </div>
</div>
