<body>
    <section class="hero">
        <div class="video-container">
            <img src="https://beneficioshca.com/hc/wp-content/uploads/2022/12/Cultura-de-salud-hospital-central.png" alt="Video placeholder">
            <div class="video-overlay">
                <a href="#" class="play-button"></a>
                <%# <p>Cultura de salud que mejore nuestro bienestar y calidad de vida</p> %>
            </div>
        </div>
        <p class="description">Somos una institución que brinda servicios de salud de primer y segundo nivel de atención, cumpliendo con los estándares que marca la normativa en apego a la satisfacción de nuestros clientes.</p>
    </section>

    <section class="info-section">
        <div class="info-box">
            <img src="https://beneficioshca.com/hc/wp-content/uploads/2023/06/PHOTO-2023-06-01-14-04-51-1.jpg" alt="Misión">
            <div class="info-overlay">
                <h3>MISIÓN</h3>
                <p>Ocuparnos de su salud, llevando en la práctica un alto nivel de atención médica que esté al alcance de todos nuestros clientes.</p>
            </div>
        </div>
        <div class="info-box">
            <img src="https://beneficioshca.com/hc/wp-content/uploads/2023/06/PHOTO-2023-06-01-14-04-51-1.jpg" alt="Visión">
            <div class="info-overlay">
                <h3>VISIÓN</h3>
                <p>Ser considerados la unidad hospitalaria en el Estado de Tlaxcala y la región que ofrece los mejores servicios de salud, siendo reconocidos por la excelencia operativa y calidad de nuestra gente.</p>
            </div>
        </div>
        <div class="info-box">
            <img src="https://beneficioshca.com/hc/wp-content/uploads/2023/06/PHOTO-2023-05-25-16-52-03-1.jpg" alt="Valores">
            <div class="info-overlay">
                <h3>VALORES</h3>
                <p>Actitud de Servicio, Ética, Reconocimiento e Innovación.</p>
            </div>
        </div>
    </section>
</body>
