<h1>Editing nurse</h1>

<%= render "form", nurse: @nurse %>

<br>

<div>
  <%= link_to "Show this nurse", @nurse, class: 'btn btn-primary' %> |
  <%= link_to "Back to nurse", nurses_path, class: 'btn btn-warning' %>
</div>
