<div class="row mt-1">
<footer class="footer" >
  <div><span class="et_pb_image_wrap ">
  <img loading="lazy" decoding="async" width="64" height="64" src="https://beneficioshca.com/hc/wp-content/uploads/2022/11/health-icon-10-2.png" alt="" title="" class="wp-image-30"></span></div>
  <div class="footer-copyright"> <i>HospiCare360</i>
  </div>

  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>

  <div class="footer-payment-methods">

   <div style="padding-right: 20px;">
   <h5>Metodo de pagos</h5>
   </div>
    <img src="https://gandhi.vtexassets.com/arquivos/Amex_gray.png" alt="amex-logo-card" style="max-width: 53px;">
    <img src="https://gandhi.vtexassets.com/arquivos/Carnet_Gray.png" alt="carnet-logo-card" style="max-width: 53px;">
    <img src="https://gandhi.vtexassets.com/arquivos/Master_Gray.png" alt="master-logo-card" style="max-width: 53px;">
  </div>
</footer>

</div>
